html{
	background-color: transparent;
}

body{
	background: transparent;
}

app-navbar{
	display: block;
	height: auto;
	background-color: transparent;
}

app-perfil-maestranza{
	display: block;
	height: 100%;
	background-color: #e6e6e6;
}

app-perfil-cliente{
	display: block;
	height: 100%;
	background-color: #e6e6e6;
}
