html{
	background-color: transparent;
}

body{
	background: transparent;
}
.container{
	width: 100%;
}

app-navbar{
	display: block;
	height: auto;
	background-color: transparent;
}

app-home-maestranza{
	display: block;
	height: 100%;
	background-color: transparent;
}

app-home-cliente{
	display: block;
	height: 100%;
	background-color: transparent;
}