@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body{
  max-height: 20%;
}

/*---------------------------------------------*/
a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}


.nav-link:hover{
  color:#666666;
}

.header{
  width: 100%;
  max-height: 20%; 
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.button-logout{
    color: #f8f9fa ;
    background-color: #ff9f1c;
    border-color: #f8f9fa;
}

.button-logout:hover {
    color: #ff9f1c ;
    background-color: #f8f9fa;
    border-color: #ff9f1c;
}


iframe {
  border: none !important;
}

select{
  width: 100%;
  height: 100%;
}

.btn{
  width: 100%;
  height: 100%;
}

li{
  width: 100%;
  text-align: center;
  align-items: center;
  display: grid;
}

ul{
  width: 100%;
}

/*

["ff9f1c","ffbf69","ffffff","cbf3f0","ffbf69"]
*/

.navbar{
  background: #e6e6e6;
  padding: 2%;
  padding-left:5%;
}


.navbar-brand {
  width: 40%;
}




@media screen and (max-width: 480px) {
    .nav-link{
    font-family: Open Sans Bold;
    font-size: 3vw;
    color:rgba(0,0,0,1);
  }
  .navbar-brand img{
    width: 70%;
  }
}

@media screen and (min-width: 480px) and (max-width: 990px){
  .nav-link{
    font-family: Open Sans Bold;
    font-size: 2.3vw;
    color:rgba(0,0,0,1);
  }

  .navbar-brand img{
    width: 50%;
  }
}


@media screen and (min-width: 990px) and (max-width: 1280px){
  .nav-link{
    font-family: Open Sans Bold;
    font-size: 1.5vw;
    color:rgba(0,0,0,1);
  }

  .navbar-brand img{
    width: 40%;
  }
}



@media screen and (min-width: 1280px) {
    .nav-link{
    font-family: Open Sans Bold;
    font-size: 1vw;
    color:rgba(0,0,0,1);
  }

  .navbar-brand img{
    width: 30%;
  }
}