<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg">
		<a class="navbar-brand" routerLink="/home">
			<img src="../assets/images/PELKI_LOGO_OFICIAL@2x.png" alt="logo">
		</a>
		<button class="navbar-toggler collapsed navbar-light btn-outline-light" type="button" (click)="toggleState()">
			<span class="navbar-toggler-icon" ></span>
		</button>

		<div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
			<ul class="navbar-nav mr-auto">
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li *ngIf="TipoUser =='Maestranza'" routerLinkActive="active" class="nav-item">
					<a class="nav-link" routerLink="/servicios">Servicios</a>
				</li>
				<li *ngIf="TipoUser =='Cliente'" routerLinkActive="active" class="nav-item">
					<a class="nav-link" routerLink="/servicios">Requerimiento</a>
				</li>
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" routerLink="/perfil">Perfil</a>
				</li>
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" routerLink="/match">Match</a>
				</li>
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" (click)="logOut()">Salir</a>
				</li>
			</ul>
		</div>
		
	</nav>

	<div id="dropDownSelect1"></div>
	<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="assets/vendor/animsition/js/animsition.min.js"></script>
	<script src="assets/vendor/bootstrap/js/popper.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/select2/select2.min.js"></script>
	<script src="assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="assets/vendor/countdowntime/countdowntime.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>	