<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
	<div class="limiter">
		<div class="contenedor">
			<div class="row">
				<div class="left">
					<div class="wrap-login100">
						<div class="login-pass">
							<div class="login-logo">
								<img src="../assets/images/PELKI_ISO.png" srcset="../assets/images/PELKI_ISO.png 1x, ../assets/images/PELKI_ISO@2x.png 2x">
							</div>
							<div class="login-title">
								<h1>Bienvenidos a Pelki</h1>
							</div>
							<div class="login-form">
								<form [formGroup]="loginForm">
									<div class="wrap-input100 validate-input" data-validate = "Enter username">
										<input class="input100" type="text" formControlName="username" placeholder="Nombre de usuario">
									</div>
									<div class="wrap-input100 validate-input" data-validate="Enter password">
										<input class="input100" type="password" formControlName="password" placeholder="Contraseña">
									</div>
								</form>
							</div>
						</div>
						<div class="login-btn">
							<div class="light">
								<div class="dark">
									<button class="login100-form-btn" (click)="loginUser()"> Iniciar Sesión</button>
								</div>
							</div>							
						</div>
						<div class="olvide-pass">
							<div class="text-center">
								<a class="txt1" routerLink="forgetpassword">Olvidó su contraseña?</a>
							</div>
						</div>
					</div>
					<div class="wrap-register">
						<h2>No tienes una cuenta?</h2>
						<div class="register-btn">
							<div class="light">
								<div class="dark">
									<button class="register-form-btn" (click)="register()"> Regístrate</button>
								</div>
							</div>
						</div>					
					</div>	
				</div>
				<div class="main"></div>
	
				<div class="right">
					<div class="title-right">
						<h1>TE AYUDAMOS A ENCONTRAR <br/>LAS MAESTRANZAS QUE SE <br/>AJUSTEN A TUS <br/>REQUERIMIENTOS </h1>
					</div>
					<div class="subtitle-right">
						<h2>La mejor plataforma para la vinculación entre clientes y maestranzas, reduce tiempos de búsqueda e incertidumbre a la hora de ejecutar tu proyecto.</h2>
					</div>
					<div class="logo-pelki">
						<img src="./assets/images/PELKI_LOGO_OFICIAL_LIGHT_GREY@2x.png" class="d-inline-block align-center" alt=""/>
					</div>
				</div>
			</div>			
		</div>
		<!--<div class="footer">
			<div class="row">
				<div class="col-9">
					<img src="./assets/images/PELKI_LOGO_OFICIAL_LIGHT_GREY.png" class="d-inline-block align-center" alt=""/>
				</div>
				<div class="col-3">
					<img src="./assets/images/Imagotipo horizontal.png" class="d-inline-block align-center" alt=""/>
				</div>
			</div>
		</div>-->
	</div>
</body>

