@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  background-color: transparent;
}

/*---------------------------------------------*/
a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.limiter{
	background-color: #e6e6e6;
}

.contenedor{
	background-color: #e6e6e6;
}


/*------------------------------------------------------------------
[ Responsive ]*/


@media screen and (max-width: 990px) {
	.limiter {
    	background-color: #e6e6e6;
    	position: relative;
    	top: 0;
    	left: 0;
    	min-width: 100%;
    	width: auto;    
    	height: 100%;
  	}

  	.top-left{
  		display: none;  	
  	}

  	.top-main{
  		padding-left: 5%;
  		background-color: transparent;
  		width: 30%;
  		position: relative;
  	}

  	.top-right{
  		background-color: transparent;
  		width: 70%;
  		position: relative;
  	}

  	.notificacion-btn{
		width: 100%;
		position: relative;
		padding-left: 20%;
	}	

	.notificacion-btn img{
		width: 80%;
	}

	.notificacion-btn button{
		background-color: #e6e6e6;
		width: 40px;
		height: 40px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}

	.notificacion-pop{
		background-color: rgba(18,161,154,1);
		width: 20px;
		height: 20px;
		border: 0px solid black;
		border-radius: 50%;
		color: #fff;
		filter: drop-shadow(5px 5px 4px #696969 );
		top: 0;
		left: -10px;
		position: relative;
		text-align: center;
	}

	.notificacion-pop span{
		text-align: center;
	}

	.search-input{
		background-color: #fff;
		border-radius: 100px;
		width:70%;
		height: 40px;
		padding: 1% 3% 1% 3%;
	}
	
	.search-button{
		width: 10%;
		padding-left: 5%;
	}
	
	
	.search-button img{
		width: 80%;
	}
	
	.search-button button{
		background: rgba(24, 181, 173, 1.0);
		background: -webkit-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: -moz-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: linear-gradient(to right, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		width: 40px;
		height: 40px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}
}

@media screen and (min-width: 990px) and (max-width: 1280px) {
	.limiter {
    	background-color: #e6e6e6;
    	position: relative;
    	top: 0;
    	left: 0;
    	min-width: 100%;
    	width: auto;    
    	height: 100%;
  	}

  	.contenedor {
  	  	width: 100%;
  	 	height: 94%;
  	  	position: relative;
  	}

  	.row{
    	height: auto;
    	width: 100%;
    	position: relative;
  	}

  	.top-left{
  		background-color: transparent;
  		width: 30%;
  		position: relative;
  		padding-left: 5%;
  		padding-right: 5%;
  	}


  	.top-left h1{
  		color:rgba(0,0,0,1);
  		font-family: Open Sans; 
    	font-family: inherit;
    	font-size: 1.5vw; 
    	font-style: normal; 
    	font-variant: normal; 
    	font-weight: bold; 
    	line-height: 26.4px; 
    	padding-left: 10%;
  	}

  	.top-main{
  		padding-left: 5%;
  		background-color: transparent;
  		width: 20%;
  		position: relative;
  	}

  	.top-right{
  		background-color: transparent;
  		width: 50%;
  		position: relative;
  	}

  	.notificacion-btn{
		width: 100%;
		position: relative;
		padding-left: 20%;
	}	

	.notificacion-btn img{
		width: 80%;
	}

	.notificacion-btn button{
		background-color: #e6e6e6;
		width: 40px;
		height: 40px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}

	.notificacion-pop{
		background-color: rgba(18,161,154,1);
		width: 20px;
		height: 20px;
		border: 0px solid black;
		border-radius: 50%;
		color: #fff;
		filter: drop-shadow(5px 5px 4px #696969 );
		top: 0;
		left: -10px;
		position: relative;
		text-align: center;
	}

	.notificacion-pop span{
		text-align: center;
	}

	.search-input{
		background-color: #fff;
		border-radius: 100px;
		width:70%;
		height: 40px;
		padding: 1% 3% 1% 3%;
	}
	
	.search-button{
		width: 10%;
		padding-left: 5%;
	}
	
	
	.search-button img{
		width: 80%;
	}
	
	.search-button button{
		background: rgba(24, 181, 173, 1.0);
		background: -webkit-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: -moz-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: linear-gradient(to right, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		width: 40px;
		height: 40px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}
}

@media screen and (min-width: 1280px) {
	.limiter {
    	background-color: #e6e6e6;
    	position: relative;
    	top: 0;
    	left: 0;
    	min-width: 100%;
    	width: auto;    
    	height: 100%;
  	}

  	.contenedor {
    	width: 100%;
    	height: 94%;
    	position: relative;
  	}

  	.row{
    	height: auto;
    	width: 100%;
    	position: relative;
  	}

  	.top-left{
  		background-color: transparent;
  		width: 40%;
  		position: relative;
  		padding-left: 5%;
  		padding-right: 5%;
  	}

  	.top-left h1{
  		color:rgba(0,0,0,1);
  		font-family: Open Sans; 
  	  	font-family: inherit;
  	  	/*font-size: 35px;*/
  	  	font-size: 1.5vw; 
  	  	font-style: normal; 
  	  	font-variant: normal; 
  	  	font-weight: bold; 
  	  	line-height: 26.4px; 
  	}

  	.top-main{
  		background-color: transparent;
  		width: 10%;
  		position: relative;
  	}

  	.top-right{
  		background-color: transparent;
  		width: 50%;
  		position: relative;
  		padding-left: 4%;
  		padding-bottom: 2%;
  	}


	.notificacion-btn{
		width: 100%;
		display: grid;
		position: relative;
		padding-left: 35%;
	}

	.notificacion-btn img{
		width: 80%;
	}

	.notificacion-btn button{
		background-color: #e6e6e6;
		width: 60px;
		height: 60px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}

	.notificacion-pop{
		background-color: rgba(18,161,154,1);
		width: 20px;
		height: 20px;
		border: 0px solid black;
		border-radius: 50%;
		color: #fff;
		filter: drop-shadow(5px 5px 4px #696969 );
		top: 0;
		left: -10px;
		position: relative;
		text-align: center;
	}	

	.notificacion-pop span{		
		text-align: center;
	}
	
	.search-input{
		background-color: #fff;
		border-radius: 100px;
		width:70%;
		height: 70px;
		padding: 2% 3%;
	}
	
	.search-button{
		width: 10%;
		padding-left: 2%;
	}
	
	.search-button img{
		width: 80%;
	}
	
	.search-button button{
		background: rgba(24, 181, 173, 1.0);
		background: -webkit-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: -moz-linear-gradient(left, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		background: linear-gradient(to right, rgba(24, 181, 173, 1.0), rgba(11, 192, 169, 1.0));
		width: 60px;
		height: 60px;
		border: 0px solid black;
		border-radius: 50%;
		filter: drop-shadow(5px 5px 4px #696969 );
	}
	.left, .right{
		width: 10%
	}
	.main{
		width: 80%;
	}
}


.description{
	width: 80%;
	padding: 5%;
}

.button-plus {
	width: 20%;	
	color: #fff;
	position: relative;
	text-align: center;
	padding: 5%;
}

.button-plus img{
	text-align: center;
	padding: 1%;
}

.button-plus button{
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: rgba(18,161,154,1);
	border: 0px solid black;
	border-radius: 50%;
}
	
.card-header{
	width: 100%;
	height: 300px;
	position: relative;
    display: inline-block;
    text-align: center;
}

.card-header img{
	width:100%;
}
	
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}