<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="text/javascript">

	</script>


</head>
<body>
	<div class="limiter">
		<div class="contenedor">
			<div class="row">
				<div class="top-left">	
					<h1>Empresas Destacadas</h1>
				</div>
				<div class="top-main">
					<div class="notificacion-btn">
						<div class="row">
							<button class="btn">
								<img  width="40px" height="" src="./assets/images/icons/bell.png">
							</button>
							<div class="notificacion-pop">			
								<a>
									<ng-container *ngIf="num != 0;">
										<span class="badge">{{num}}</span>
									</ng-container>
								</a>
							</div>
						</div>
					</div>
				</div>	
				<div class="top-right">
					<div class="row">
						<div class="search-input">
							<form [formGroup]="FilterForm">
								<input class="input100" type="text" formControlName="search" placeholder="Busca un servicio">
							</form>
						</div>
						<div class="search-button">
							<button class="btn">
								<img  width="40px" height="" src="./assets/images/icons/search.png">
							</button>
						</div>
					</div>
				</div>	
			</div>	

			<div class="row">
				<div class="left"></div>
				<div class="main">	
					<div class="card" style="width: 30%;">
						<div class="card-header">
							<img src="../assets/images/producto.jpg" class="card-img-top" alt="...">
							  <div class="texto-encima">Texto</div>
  <div class="centrado">Centrado</div>
						</div>
  						
  						<div class="card-body">
  							<h5 class="card-title">Galponex</h5>
  							<div class="row">
  								<div class="description">
  									<p class="card-text">Especialistas diseño y fabricación de galpones y estructuras pesadas.</p>
  								</div>
  								<div class="button-plus">
  									<button>
  										<img  width="40px" height="" src="./assets/images/icons/plus.svg">
  									</button>
  								</div>
  							</div>	
  						</div>
  					</div>
				</div>
				<div class="right">
				</div>
			</div>
		</div>
		<!--<div class="footer">
			<div class="row">
				<div class="col-9">
					<img src="./assets/images/PELKI_LOGO_OFICIAL_LIGHT_GREY.png" class="d-inline-block align-center" alt=""/>
				</div>
				<div class="col-3">
					<img src="./assets/images/Imagotipo horizontal.png" class="d-inline-block align-center" alt=""/>
				</div>
			</div>
		</div>-->
	</div>
</body>

