@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  background-color: transparent;
}

/***************************************RESPONSIVE******************************************************************/
/*[-------------PC-----------------]*/
@media screen and (max-width: 640px) {

  .limiter {
    background-image: url("src/assets/images/Fondo_home@2x.png");
    position: absolute;
    top: 0;
    left: 0;
    min-width: 90%;
    width: auto;
    background-repeat: repeat;
    background-size: cover;
  }

  .main {
    width:100%; /* The width is 20%, by default */
    height: auto;
    padding: 5%;
   /* padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;*/
  }

  .left, .right {
    display: none;
  }


  .contenedor {
    width: 100%;
    height: 94%;
    position: relative;
  /*  opacity: 0.8;*/
  }

  .wrap-register100 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 0px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(to left, #17b5ad , #0bc0a8);
  }

  .register-title h1 { 
    font-family: Open Sans Bold; 
    font-family: inherit;
    /*font-size: 35px;*/
    font-size: 6vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 26.4px; 
  } 

  .register-form-data button{
    font-size: 4vw; 
  }

  .button-group{
    width: 100%;
    text-align: center;
    padding-left: 5%;
  }

  .col-btn{
    width: 50%;
  }

  .button-group button{ 
    width: 100%;
    padding: 10%;
    font-size: 'OpenSans';
    color: white;
    font-size: 2.5vw;
    border-radius: 50px 50px 50px 50px;
  }
}

/*[----------------------------------------------------TABLET------------------------------------------------]*/

@media screen and (min-width: 640px) and (max-width: 1280px) {

  .limiter {
    background-image: url("src/assets/images/Fondo_home@2x.png");
    position: absolute;
    top: 0;
    left: 0;
    min-width: 90%;
    width: auto;
    background-repeat: repeat;
    background-size: cover;
  }

  .main {
    width:60%; /* The width is 20%, by default */
    height: auto;
    padding: 5%;
   /*
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    */
  }

  .left {
    width: 20%;
  }

  .right {
    width: 20%;
  }


  .contenedor {
    width: 100%;
    height: 94%;
    position: relative;
  /*  opacity: 0.8;*/
  }

  .wrap-register100 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 0px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(to left, #17b5ad , #0bc0a8);
  }

  .register-title h1 { 
    font-family: Open Sans Bold; 
    font-family: inherit;
    /*font-size: 35px;*/
    font-size: 3vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 26.4px; 
  } 

  .register-form-data button{
    font-size: 4vw; 
  }

  .button-group{
    width: 100%;
    text-align: center;
    padding-left: 5%;
  }

  .col-btn{
    width: 50%;
  }

  .button-group button{ 
    width: 100%;
    padding: 10%;
    font-size: 'OpenSans';
    color: white;
    font-size: 2vw;
    border-radius: 50px 50px 50px 50px;
  }
}

/*
[ PC ]*/
@media screen and (min-width: 1280px) {
  .limiter {
    background-image: url("src/assets/images/Fondo_home@2x.png");
    position: absolute;
    top: 0;
    left: 0;
    min-width: 90%;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
  }

  /*
  [RESPONSIVE]
  */
  .left {
    width:25%; /* The width is 20%, by default */
    height: auto;
    opacity: 0.5;
  }
  
  .main{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .right {
    width:25%; /* The width is 20%, by default */
    overflow: hidden;
    opacity: 0.5;
  }
  
  .contenedor {
    width: 100%;
    height: 94%;
    position: relative;
    /*  opacity: 0.8;*/
  }

  .wrap-register100 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 0px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(to left, #17b5ad , #0bc0a8);
  }

  .button-group{
    width: 100%;
    text-align: center;
    padding-left: 5%;
  }

  .col-btn{
    width: 50%;
  }

  .button-group button{ 
    width: 100%;
    padding: 10%;
    font-size: 'OpenSans';
    color: white;
    font-size: 1.5vw;
    border-radius: 50px 50px 50px 50px;
  }
}

/***************************************FIN    RESPONSIVE******************************************************************/


/*GRIS*/
.register-form{
  background-color: #e6e6e6;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  top: 0px;
  left: 0px;
  border: 20px solid #e6e6e6;
  border-radius: 50px 50px 0px 0px;
}

.pelki-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  padding: 5%;
  margin: 0 auto;
}

.register-title {
  position: relative;
  overflow: visible;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: rgba(0,0,0,1);
}




.register-form-data input{
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(140,140,140,1);
  border-bottom: 2px solid rgba(140,140,140,0.6);
  margin-top: 5%;
  margin-bottom: 5%;
}

  .register-form-data {
    width: 100%;
    padding: 5% 15% 5% 15%;
  }

  .contenedor-form{
    width: 100%;
    padding-top: 5%;
  }

  .wrap-input100{
    width: 100%;
    padding-top: 0.8%;
  }


.input100 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  text-align: center;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}

.register-btn {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to left, #17b5ad , #0bc0a8);
  padding: 10% 10% 10% 10%;
}

.login100-form-btn {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 70px;
  border-radius: 100px;
  width: 70%;

  background-image: linear-gradient(to right, #17b5ad , #0bc0a8);
  background: #e6e6e6;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-image: linear-gradient(to right, #17b5ad , #0bc0a8);
  color: #fff;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #12A19A;
}

.login100-form-btn:hover:before {
  opacity: 0;
  color: #fff;
}


.light{
    filter: drop-shadow(15px 10px 4px rgba(139, 218, 214, 0.161));
    width: 100%;  
    justify-content: center;
    display: flex;
}

.dark{
  width: 100%;
  filter: drop-shadow(15px 10px 4px rgba(11, 90, 86, 0.161));
  justify-content: center;
  display: flex;
}


.tipo-row{
  width: 100%;
}

.contenedor-form{
  padding-top: 10%;
}

.wrap-input100{
  width: 100%;
  padding-top: 0.8%;
}

.wrap-input100 select{
  text-align: center;
}
*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  background-color: transparent;
}



/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*--------------------[ Utility ]--------------------*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

/***************************************************************************************************************************/
