<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
	<div class="limiter">
		<div class="contenedor">
			<div class="row">
				<div class="left">
				</div>
				<div class="main">
					<div class="wrap-register100">
						<div class="register-form">
							<div class="pelki-logo">
								<img src="../assets/images/PELKI_ISO.png" srcset="../assets/images/PELKI_ISO.png 1x, ../assets/images/PELKI_ISO@2x.png 2x">
							</div>
							<div class="register-title">
								<h1>Datos de registro</h1>
							</div>							
							<div class="register-form-data">

								<input type="hidden" #tipo>
								<form [formGroup]="registerForm" (ngSubmit)="registerUser(tipo.value)" class="login100-form validate-form">
									<div [ngSwitch]="tipo.value">

										<div class="row button-group" *ngSwitchCase="'Maestranza'">
											<div class="col-btn" style="background-color: grey; border-radius: 50px 0px 0px 50px;">
												<button type="button" style="background-image: linear-gradient(90deg, #17b5ad , #0bc0a8);" (click)="tipo.value = 'Maestranza'" class="btn">Maestranza</button>
											</div>
											<div class="col-btn" style="background-color: grey; border-radius: 0px 50px 50px 0px;">
												<button type="button" style="background-image: grey" (click)="tipo.value = 'Cliente'" class="btn">Cliente</button>
											</div>
										</div>

										<div class="row button-group" *ngSwitchCase="'Cliente'">
											<div class="col-btn" style="background-color: grey; border-radius: 50px 0px 0px 50px;">
												<button type="button" style="background-image: grey;" (click)="tipo.value = 'Maestranza'" class="btn"> Maestranza</button>
											</div>
											<div class="col-btn" style="background-color: grey; border-radius: 0px 50px 50px 0px;">
												<button type="button" style="background-image: linear-gradient(90deg, #17b5ad , #0bc0a8);" (click)="tipo.value = 'Cliente'" class="btn">Cliente</button>
											</div>
										</div>

										<div class="row button-group" *ngSwitchDefault>
											<div class="col-btn" style="background-color: grey; border-radius: 50px 0px 0px 50px;">
												<button type="button" style="background-image: grey;" (click)="tipo.value = 'Maestranza'" class="btn">Maestranza</button>
											</div>
											<div class="col-btn" style="background-color: grey; border-radius: 0px 50px 50px 0px;">
												<button type="button" style="background-image: linear-gradient(90deg, #17b5ad , #0bc0a8);" (click)="tipo.value = 'Cliente'" class="btn">Cliente</button>
											</div>
										</div>
								
		  	    						<!--<pre *ngSwitchDefault></pre>
		  	    						<pre *ngSwitchCase="'Maestranza'">Maestranza</pre>
		  	    						<pre *ngSwitchCase="'Cliente'">Cliente</pre>-->

		  	    						<div class="contenedor-form">
		  	    							<div class="row">
		  	    								<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<input *ngSwitchCase="'Maestranza'" class="input100" type="text" formControlName="nombre" placeholder="	Nombre de Empresa">	
													<input *ngSwitchCase="'Cliente'" class="input100" type="text" formControlName="nombre" placeholder="	Nombre Apellidos">
													<input *ngSwitchDefault class="input100" type="text" formControlName="nombre" placeholder="Nombre">
												</div>
											</div>
						
											<div class="row">
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<input class="input100" type="email" formControlName="email" placeholder="Correo electrónico">
												</div>
											</div>

											<div class="row">
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<input class="input100" type="tel" formControlName="telefono" placeholder="Teléfono o Celular">
												</div>
											</div>

											<div class="row">
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<select class="custom-select" formControlName="region"  required>
														 <option value="" disabled selected hidden>Seleccione región</option>
                                  						<option (click)= "applyFilterRP($event)" *ngFor="let reg of regiones.data" value="{{reg.nombre}}">{{reg.nombre}}</option>
                                  					</select>
                                  				</div>
                                  			</div>

                                  			<div class="row">							
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<select class="custom-select" formControlName="provincia"  required>
														 <option value="" disabled selected hidden>Seleccione provincia</option>
                              						  	<option (click)= "applyFilterPC($event)" *ngFor="let loc of locationDataSourceRegProv.filteredData" value="{{loc.provincia}}">{{loc.provincia}}</option>
                                  					</select>
                                  				</div>
                                  			</div>

                                  			<div class="row">						
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<select class="custom-select" formControlName="comuna"  placeholder="Seleccione comuna" required>
														 <option value="" disabled selected hidden>Seleccione comuna</option>
                                				  		<option *ngFor="let loc of locationDataSourceProvCom.filteredData" value="{{loc.comuna}}">{{loc.comuna}}</option>
                                  					</select>
                                  				</div>
                                  			</div>

											<div class="row">
												<div class="col-9 wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<input class="input100" type="text" formControlName="calle" placeholder="Dirección">
												</div>
				
												<div class="col-3 wrap-input100 validate-input" style="padding-top: 3%;">
													<span class="focus-input100"></span>
													<input class="input100" type="text" formControlName="num" placeholder="#">
												</div>
											</div>
					
											<div class="row">
												<div class="wrap-input100 validate-input" style="width: 95%;">
													<span class="focus-input100"></span>
													<input (keyup)= "verificarUsuario($event)" class="input100" type="text" formControlName="username" placeholder="Usuario">
												</div>
												<div class="col-1-sm" *ngIf="!userExist">
													<img src="/assets/icons/person-fill.svg" alt="" width="20" height="20" title="Bootstrap">
												</div>
											</div>

											<div class="row">
												<div class="wrap-input100 validate-input">
													<span class="focus-input100"></span>
													<input class="input100" (keyup)= "getPassword($event)" type="password" formControlName="password" minlength="8" placeholder="Contraseña">
												</div>
											</div>

											<div class="row">
												<div class="wrap-input100 validate-input" style="width: 95%;">
													<span class="focus-input100"></span>
													<input class="input100" (keyup)="getconfirmPassword($event)" type="password" formControlName="password" minlength="8" placeholder="Confirme su contraseña">
												</div>
												<div class="col-1-sm" *ngIf="!confirm">
													<img src="/assets/icons/asterisk.svg" alt="" width="20" height="20" title="Bootstrap">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="register-btn">
							<div class="light">
								<div class="dark">
									<button class="login100-form-btn" (click)="registerUser(tipo.value)"> Registrar</button>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class="right">
				</div>
			</div>
		</div>
	</div>
</body>
